.Logo {
    background-color: white;
    padding: 8px;
    height: 80%;
    box-sizing: border-box; /* To make sure that the 80% height also includes the padding */
    border-radius: 5px;
}

.Logo img {
    /* So does the image does take .Logo height as it maximum and not take the default height
        which will be heighter
    */
    height: 100%; 
}